<sly data-sly-use.blogImg="com.myaem.core.models.HomePageImgeCard">
<div class="row mb-2">
        <div class="col-md-4" data-sly-list.elements="${blogImg.blogListing}">
            <div class="card flex-md-row mb-4 shadow-sm h-md-400">
                <div class="card-body d-flex flex-column align-items-start">
                    <img width="150" height="320" class="card-img-right flex-auto d-none d-lg-block"
                         src="${elements.teaserImage}" alt="Card image cap">
                    <strong class="d-inline-block mb-2 text-success">${elements.teaserHeading}</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="${elements.postLinkTo}">${elements.postTitle}</a>
                    </h3>
                    <div class="mb-1 text-muted">${elements.datePicker}</div>
                    <p class="card-text mb-auto">${elements.postContent}</p>
                    <a href="${elements.postLinkTo}">Continue reading</a>
                </div>
            </div>
        </div>
    </div>
</sly>